# Byte complied files
*.pyc

# Virtual env
pyenv/*

# Local git config
.gitconfig

# db files
*.sqlite3
*.sqlite

# Static folders
src/static/

# admin static folders
src/*/static/admin

.DS_Store

# Environment
local.env
